.gradient-custom-2{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(166,108,21,1) 100%);
}


@media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  }
}
/* body{
  background-color: #ADC4CE;
} */
@media screen and (min-width:993px){
  body {
    background-color: #ADC4CE;
  }
  .navLogo{
    width: 5%;
    border-radius: 10%;
    margin:auto 10px;
  }
  .cont{
    margin-bottom:3%;
  }
  .abtn{
    padding-left:9%;
    padding-right:9%;
  }
  .batches{
    margin-top: 5%;
  }
  .batch{
    display: flex;
    background-color: #279EFF;
    border-radius: 5px;
    width: 70%;
    margin-left:15%;
    height: 60px;
    align-items: center;
    margin-top: 3%;
  }
  .batch-name{
    margin-left: 5%;
    font-family: "Kanit";
    color: white;
    width:70%;
    font-size: 30px;
  }
  .open-name{
    margin-left: 80px;
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 30px;
    text-decoration: none;
  }
  .courseSection{
    margin-top:3%;
    width: 85%;
    margin-left:7.5%;
    border-radius: 15px;
    background-color: #33BBC5;
    padding: 3% 0;
  }
  .details{
    display: flex;
    flex-direction: row;
  }
  .zoomLogo,.docLogo{
    width: 120%;
  }
  .right{
    display: flex;
    flex-direction: row;
    width: 25%;
    padding-right: 5%;
    column-gap: 40px;
  }
  .left{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin:0 5%;
  }
  .left>h2{
    font-weight: 700;
    font-size: 25px;
  }
  .left>p{
    font-size: 20px;
  }

  .commSection{
    background-color: #5B9A8B;
    height: max-content;
    width: 85%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top:15px;
    margin-bottom:15px;
    margin-left:7.5%;
    border-radius: 15px;
  }
  .commTitle{
    margin: 0 0 20px 20px;
    font-weight: 700;
    font-size: 25px;
    margin:2% 5%;
    color: black;
  }
  .commentsUser{
    margin: 10px 0px 5px 10%;
    color: #0D1282;
    font-weight: 500;
    font-size: 22px;
  }
  .comments{
    background-color: peach;
    width: 70%;
    color: white;
    margin-left:15%;
    font-size: 22px;
  }
  .add-comment{
    font-weight: 600;
    margin: 2% 10% 1% 10%;
  }
  .form-control{
    width: 80%;
    margin-left: 10%;
  }
  .buttor {
    position:relative;
    height: 45px;
  }
  .bton {
    position:absolute;
    background-color: #FF6969;
    bottom:0px;
    right:10%;
    width: 10%;
    margin-bottom: 3px;
  }
  .about-table-out{
    padding:60px 0;
    width:92%;
    margin:4%;
    background-color:#5B9A8B;
    border-radius:15px;
  }
  .about-table-in{
    padding:60px 10px;
    width:70%;
    margin: 35px 15% 23px 15%;
    background-color:#33BBC5;
    border-radius:15px;
  }
  .about-title{
    background-color:white;
    text-align:center;
    color:#0C356A;"
  }
  .about-main-desc{
    color:white;
    font-size:18px;
    padding:0 15px;
    text-align:center;
    font-family: 'Space Grotesk', sans-serif;
  }
  .about-img-sec{
    margin-top:2%;
    display:flex;
    align-items:center;
    width: 95%;
    margin-left: 2.5%;
  }
  .aboutImg{
    width:15%;
    border-radius:50%;
  }
  .aboutMatter{
    color:white;
    font-size:18px;
    width:90%;
    padding:0 15px;
    text-align:center;
  }
  .contact-table{
    padding:60px 0;
    width:90%;
    margin: 23px 5% 23px 5%;
    background-color:#5B9A8B;
    border-radius:15px;
  }
  .contact-grid{
    display:grid;
    grid-template-columns:100px 100px 100px 100px 100px;
    margin-top:40px;
    justify-content:space-evenly;
  }
  .contact-logo{
    text-align: center;
    font-size: 30px;
  }
  .n{
    font-size:20px;
    color: white;
  }
  .test{
    text-decoration: none;
  }
  .address-title{
    background-color:white;
    margin-top:50px;
    text-align:center;
    color:#0C356A;
  }
  .address-row{
    margin-top:20px;
  }
  .address{
    font-size: 20px;
  }
  .error-msg{
    text-align: center;
    color: red;
  }
}
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  body {
    background-color: #ADC4CE;
  }
  .navLogo{
    width: 10%;
    border-radius: 10%;
    margin:auto 10px;
  }
  .cont{
    margin-bottom:3%;
    margin-top: 3%;
  }
  .abtn{
    padding-left:9%;
    padding-right:9%;
  }
  .batches{
    margin-top: 5%;
  }
  .batch{
    display: flex;
    background-color: #279EFF;
    border-radius: 5px;
    width: 80%;
    margin-left:10%;
    height: 60px;
    align-items: center;
    margin-top: 3%;
  }
  .batch-name{
    margin-left: 5%;
    font-family: "Kanit";
    color: white;
    width:78%;
    font-size: 30px;
  }
  .open-name{
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 30px;
    text-decoration: none;
  }
  .courseSection{
    margin-top:5%;
    width: 90%;
    margin-left:5%;
    border-radius: 15px;
    background-color: #33BBC5;
    padding: 5% 0;
  }
  .details{
    display: flex;
    flex-direction: row;
  }
  .zoomLogo,.docLogo{
    width: 100%;
  }
  .right{
    display: flex;
    flex-direction: column;
    width: 20%;
    padding-right: 5%;
    column-gap: 15px;
  }
  .left{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin:0 5%;
  }
  .left>h2{
    font-weight: 700;
    font-size: 35px;
  }
  .left>p{
    font-size: 25px;
  }

  .commSection{
    background-color: #5B9A8B;
    height: max-content;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top:5%;
    margin-bottom:15px;
    margin-left:5%;
    border-radius: 15px;
  }
  .commTitle{
    margin: 0 0 20px 5%;
    font-size: 35px;
    font-weight: 700;
    color: black;
  }
  .commentsUser{
    margin: 10px 0px 5px 10%;
    color: #0D1282;
    font-weight: 500;
    font-size: 25px;
  }
  .comments{
    background-color: peach;
    width: 70%;
    color: white;
    margin-left:15%;
    font-size: 25px;

  }
  .add-comment{
    font-weight: 600;
    margin-left: 10%;
    font-size: 30px;

  }
  .form-control{
    width: 80%;
    margin-left: 10%;
  }
  .buttor {
    position:relative;
    height: 45px;
    margin-top:3%;
  }

  .bton {
    position:absolute;
    background-color: #FF6969;
    bottom:0px;
    right:10%;
    width: 15%;
    margin-bottom: 3px;
  }
  .about-table-out{
    padding:60px 0;
    width:92%;
    margin:4%;
    background-color:#5B9A8B;
    border-radius:15px;
  }
  .about-table-in{
    padding:50px 10px;
    width:85%;
    margin: 35px 15% 23px 7.5%;
    background-color:#33BBC5;
    border-radius:15px;
  }
  .about-title{
    background-color:white;
    text-align:center;
    color:#0C356A;"
  }
  .about-main-desc{
    color:white;
    font-size:20px;
    padding:10px 15px;
    text-align:center;
    font-family: 'Space Grotesk', sans-serif;
  }
  .about-img-sec{
    margin-top:2%;
    display:flex;
    align-items:center;
    width: 95%;
    margin-left: 2.5%;
  }
  .aboutImg{
    width:20%;
    border-radius:50%;
  }
  .aboutMatter{
    color:white;
    font-size:20px;
    width:90%;
    margin:10px 0;
    padding:10px 15px;
    text-align:center;
  }
  .contact-table{
    padding:60px 0;
    width:90%;
    margin: 23px 5% 23px 5%;
    background-color:#5B9A8B;
    border-radius:15px;
  }
  .contact-grid{
    display:grid;
    grid-template-columns:100px 100px;
    grid-template-rows:100px 100px 100px;
    row-gap: 50px;
    margin-top:40px;
    justify-content:space-evenly;
  }
  .contact-logo{
    text-align: center;
    font-size: 30px;
  }
  .last{
    /* margin-left: 50%; */
  }
  .n{
    font-size:20px;
    color: white;
  }
  .test{
    text-decoration: none;
  }
  .address-title{
    background-color:white;
    margin-top:50px;
    text-align:center;
    color:#0C356A;
  }
  .address-row{
    margin-top:20px;
  }
  .address{
    font-size: 23px;
  }
  .error-msg{
    text-align: center;
    color: red;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
    background-color: #ADC4CE;
  }
  .navLogo{
    width: 15%;
    border-radius: 10%;
    margin:auto 2px;
  }
  .vard{
    margin-top:3%;
    margin-bottom:5%;
  }
  .cont{
    margin-bottom: 5%;
  }
  .batches{
    margin-top: 10%;
  }
  .batch{
    display: flex;
    background-color: #279EFF;
    border-radius: 5px;
    width: 85%;
    margin-left:7.5%;
    height: 40px;
    align-items: center;
    margin-top: 3%;
  }
  .batch-name{
    margin-left: 5%;
    font-family: "Kanit";
    color: white;
    width:50%;
    font-size: 20px;
  }
  .open-name{
    margin-left: 80px;
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 20px;
    text-decoration: none;
  }
  .courseSection{
    margin-top:10px;
    width: 90%;
    margin-left:5%;
    border-radius: 15px;
    background-color: #33BBC5;
  }
  .details{
    display: flex;
    flex-direction: row;
  }
  .right{
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  .left{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin:0 5%;
  }
  .left>h2{
    font-weight: 700;
  }
  .left>p{
    font-size: 18px;
  }
  .commSection{
    background-color: #5B9A8B;
    height: max-content;
    width: 90%;
    margin-top: 10px;
    margin-left:5%;
    border-radius: 15px;
  }
  .commTitle{
    font-weight: 700;
    padding-bottom: 8px;
  }
  .commentsUser{
    margin-bottom: 3px;
    color: #0D1282;
    margin-left: 5%;
  }
  .comments{
    background-color: peach;
    width: 90%;
    color: white;
    margin-left:10%;
  }
  .add-comment{
    font-weight: 600;
    margin-left: 5%;
  }
  .form-control{
    width: 90%;
    margin-left: 5%;
  }

  .buttor {
    position:relative;
    height: 45px;
  }

  .bton {
    position:absolute;
    background-color: #FF6969;
    bottom:0px;
    right:5%;
    width: 25%;
    margin-bottom: 3px;
  }
  .about-table-out{
    padding:40px 0;
    width:92%;
    margin:4%;
    background-color:#5B9A8B;
    border-radius:15px;
  }
  .about-table-in{
    padding:30px 10px;
    width:85%;
    margin: 35px 15% 23px 7.5%;
    background-color:#33BBC5;
    border-radius:15px;
  }
  .about-title{
    background-color:white;
    text-align:center;
    color:#0C356A;"
  }
  .about-main-desc{
    color:white;
    font-size:14px;
    padding:0 15px;
    text-align:center;
    font-family: 'Space Grotesk', sans-serif;
  }
  .about-img-sec{
    margin-top:2%;
    display:flex;
    align-items:center;
    width: 95%;
    margin-left: 2.5%;
  }
  .aboutImg{
    width:20%;
    border-radius:50%;
  }
  .aboutMatter{
    color:white;
    font-size:14px;
    width:90%;
    margin: 10px 0;
    padding:0 10px;
    text-align:center;
  }
  .contact-table{
    padding:40px 0;
    width:90%;
    margin: 23px 5% 23px 5%;
    background-color:#5B9A8B;
    border-radius:15px;
  }
  .contact-grid{
    display:grid;
    grid-template-columns:100px 100px;
    grid-template-rows:100px 100px 100px;
    row-gap: 15px;
    margin-top:40px;
    justify-content:space-evenly;
  }
  .contact-logo{
    text-align: center;
    font-size: 18px;
  }
  .n{
    font-size:20px;
    color: white;
  }
  .test{
    text-decoration: none;
  }
  .address-title{
    background-color:white;
    margin-top:20px;
    text-align:center;
    color:#0C356A;
  }
  .address-row{
    margin-top:10px;
  }
  .address{
    font-size: 18px;
  }
  .error-msg{
    text-align: center;
    color: red;
  }
}
