<%-include("partials/header")-%>
  <div class="container-fluid cont">
    <div class="row row-cols-1 row-cols-md-3">
      <div class="col-lg-4 vard">
        <div class="card h-100" style="width:90%;margin:5%">
          <img src="Beginner.jpg" class="card-img-top"
            alt="Hollywood Sign on The Hill" />
          <div class="card-body" style="padding-bottom:0;">
            <h5 class="card-title">Beginner</h5>
            <p class="card-text">
              A crash course that will help u to learn the programming required to grab a 6-8 LPA Job.
            </p>
            <a href="/beginner" class="btn btn-primary abtn" style="padding-left:9%;padding-right:9%;">Enter</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 vard">
        <div class="card h-100" style="width:90%;margin:5%">
          <img src="Intermediate.jpg" class="card-img-top"
            alt="Hollywood Sign on The Hill" />
          <div class="card-body" style="padding-bottom:0;">
            <h5 class="card-title">Intermediate</h5>
            <p class="card-text">
              In this course, you'll enjoy the hands-on coding on Data Structures which will help you to get 8-12 LPA.
            </p>
            <a href="#" class="btn btn-primary abtn" style="">Enter</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 vard">
        <div class="card h-100" style="width:90%;margin:5%">
          <img src="Advanced.png" style="" class="card-img-top"
            alt="Hollywood Sign on The Hill" />
          <div class="card-body" style="padding-bottom:0;">
            <h5 class="card-title">Advanced</h5>
            <p class="card-text">
              A quick guide through amazing Algorithms that are necessary for you to grab a 12-18 LPA job.
            </p>
            <a href="#" class="btn btn-primary abtn" style="padding-left:9%;padding-right:9%;">Enter</a>
          </div>
        </div>
      </div>
  </div>

</div>
<%-include("partials/footer")-%>
