<%-include('partials/header')-%>
<div class="about-table-out">
  <h2 class="about-title">About Us</h2>
  <div class="about-table-in">
    <div class="about-main-desc">Coding Knights is an initiative to help students learn coding in a short period of time. Our main intention is to help students who are in need but cannot move forward due to their fear of coding and a lack of guidance.</div>
    <div class="about-img-sec" style="">
      <img class="aboutImg" src="worldLogo.jpg" alt="">
      <div class="aboutMatter">We aspire to become a good organization and expand our network in teaching coding.</div>
    </div>
    <div class="about-img-sec">
      <div class="aboutMatter"><i>`Learning yourself is good, but helping others while learning feels the best.`</i><br><span style="font-family: 'Space Grotesk', sans-serif;">-P. Nikhil Koushik, Founder</span></div>
      <img class="aboutImg" src="Koushik.jpg" alt="">
    </div>
    <div class="about-img-sec">
      <img class="aboutImg" src="bharathi.jpg" alt="">
      <div class="aboutMatter"><i>`The only way to conquer the fear of coding is..... to try coding.`</i><br><span style="font-family: 'Space Grotesk', sans-serif;">-K. Bharathi, Co-Founder</span></div>
    </div>
  </div>

</div>
<%-include("partials/footer")-%>
