<%-include("partials/header")-%>

<div class="batches">
  <%arr.forEach((item, i) => {%>
  <div class="batch">
      <div class="batch-name"><%= item.batchName %></div>
      <a class="clicker" href='/beginner/<%=item.batchGetter%>' style="text-decoration: none;">
      <div class="open-name">Open ></div></a>
  </div>
  <%})%>
</div>
<%-include("partials/footer")-%>
