<%-include('partials/header')-%>
<div class="contact-table" style="">
  <h2 style="background-color:white; text-align:center;color:#0C356A">Contact Us</h2>

  <div class="contact-grid" style="">
    <div class="contact-logo">
      <a href="tel:+918499973909" class="test" style="padding-right: 0px;padding-left: 0px;"><i class="fa-solid fa-phone fa-3x" style="color: #ffffff;"></i><br><span class="n" style="text-align:center;">Phone</span></a>
    </div>
    <div class="contact-logo">
      <a href="mailto:nikhil4b4@sasi.ac.in? subject=" class="test" style="padding-right: 0px;padding-left: 0px;"><i class="fa-solid fa-envelope fa-3x" style="color: #ffffff;"></i><br><span class="n" style="text-align:center;">e-Mail</span></a>
    </div>
    <div class="contact-logo">
      <a href="tel:+918499973909" class="test" style="padding-right: 0px;padding-left: 0px;"><i class="fa-brands fa-whatsapp fa-3x" style="color: #ffffff;"></i><br><span class="n" style="text-align:center;">Whatsapp</span></a>
    </div>
    <div class="contact-logo" >
      <a href="https://instagram.com/_nikhil.koushik_?igshid=YmMyMTA2M2Y=" class="test" style="padding-right: 0px;padding-left: 0px;"><i class="fa-brands fa-instagram fa-3x" style="color: #ffffff;"></i><br><span class="n" style="text-align:center;">Instagram</span></a>
    </div>
    <div class="contact-logo last">
      <a href="https://www.linkedin.com/in/nikhil-koushik-974a20253/" class="test" style="padding-right: 0px;padding-left: 0px;"><i class="fa-brands fa-linkedin fa-3x" style="color: #ffffff;"></i><br><span class="n" style="text-align:center;">LinkedIn</span></a>
    </div>
  </div>
  <h2 class="address-title">Address</h2>
  <div class="address-row">
    <div class="col-12 contact-logo" style="font-size:30px;color:white;">
      <span class="address">Sasi Institute of Technology and Engineering, Tadepalligudem,<br> West Godavari District, Andhra Pradesh, 534112.</span>
    </div>
  </div>
</div>
<%-include('partials/footer')-%>
